@use './colors';

.box {
  background-color: colors.$primary-light;
  border-radius: 6px;
  padding: 0.6rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  p, h1, h2, h3, h4, h5, h6 {
    color: black;
  }
  p {
    margin: 0rem !important;
    font-size: 1rem;
    font-weight: bold;
  }
}

.tokenModal {
  p {
    font-size: 1.2rem;
  }
}